<%- include('header') -%>

<form method="post" action="/login">
  <label>Notendanafn: <input type="text" name="username" /></label>
  <label>Lykilorð: <input type="password" name="password" /></label>
  <button>Innskrá</button>
</form>
<p><%= message %></p>

<%- include('footer') -%>
